<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Versículo do Dia</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    {% include 'navbar.html' %} 
    <div class="container">
        <h1>Sobre este Projeto</h1>
        <div class="about-content">
            <p>Este é um projeto simples para exibir um versículo bíblico diário.</p>
            <p>O versículo principal na página inicial é atualizado automaticamente uma vez ao dia.</p>
            <p>Você pode clicar no botão abaixo para puxar um novo versículo aleatório a qualquer momento!</p>
        </div>

        <div class="new-verse-section">
            <h2>Puxe um Novo Versículo</h2>
            <button id="fetchNewVerseButton"><i class="fa-solid fa-plus"></i></button>
            <div id="newVerseDisplay" style="margin-top: 20px;">
                <p class="new-verse-text">Clique no botão para ver um novo versículo.</p>
                <p class="new-verse-reference"></p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='about_verse.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigF/h/68S5q/P2IuC" crossorigin="anonymous"></script>

</body>
</html>